<ion-header color="dark">
  <ion-toolbar color="medium">
    <ion-title color="secondary">
      Selamat Datang
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card color="dark">
  <img src="/assets/perpus.png" />
  <ion-card-content>
    STMIK AKAKOM Yogyakarta
Jl. Raya Janti Karang Jambe No. 143 Yogyakarta 55198 Indonesia
Nomor Telepon :(0274) 486664
  </ion-card-content>
</ion-card>
<ion-content color="dark">
    <ion-toolbar color="primary">
        <ion-title>
           FORM PEMINJAMAN 
        </ion-title>
      </ion-toolbar>
  <ion-item>
    <ion-label position="floating">Judul Buku</ion-label>
    <ion-input [(ngModel)]="newItem.title"></ion-input>
    
  </ion-item>

  <ion-item>
      <ion-label position="floating">Pengarang</ion-label>
      <ion-input [(ngModel)]="newItem.pengarang"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="floating">Jumlah</ion-label>
    <ion-input [(ngModel)]="newItem.jumlah"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Penerbit</ion-label>
    <ion-input [(ngModel)]="newItem.penerbit"></ion-input>
  </ion-item>
 
  <ion-button expand="danger" (click)="addItem()">Pinjam buku</ion-button>
  <ion-list #mylist>
 
      <ion-toolbar color="success">
          <ion-title>
              Detail Peminjaman 
          </ion-title>
        </ion-toolbar>
    <ion-item-sliding *ngFor="let item of items">
 
      <ion-item>
        <ion-label text-wrap>
          <h3>Nama Buku = {{ item.title }}</h3>
          <ion-text>
            <p>Pengarang = {{ item.pengarang }}</p>
          </ion-text>
          <ion-text>
            <p>Jumlah = {{ item.jumlah }}</p>
          </ion-text>
            <ion-text>
              <p>Penerbit = {{ item.penerbit }}</p>
            </ion-text>
          <p>{{ item.modified | date:'short'}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="updateItem(item)">Update</ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
 
  </ion-list>
 
</ion-content>
